@charset "UTF-8";

.frm {
	position: relative;
	width: 850px;
	height: 50%;
	margin-top: auto; 
	box-shadow: 2px 2px 2px 2px #E6E6E6;
}

.all {
	position: relative;
	padding-top: 100px;
	margin-top: 0px;
	background-color: #ffffff;
    margin-left: 25%;
}

.proflBox {
	width: 50px;
	height: 50px;
	background-image: url("배경이미지경로");
	border-radius: 150px; /* 레이어 반크기만큼 반경을 잡기*/
	display: table-cell;
	vertical-align: middle;
	color: #ffffff;
	font-weight: bold;
	/*     text-align: center; */
	float: left;
}

.profImg {
	width: 50px;
	height: 50px;
	border-radius: 50px;
	float: left;
}

/* 댓글 작성자 프로필 사진 */
.replyImgBox {
	width: 30px;
	height: 30px;
	background-image: url("배경이미지경로");
	border-radius: 150px; /* 레이어 반크기만큼 반경을 잡기*/
	display: table-cell;
	vertical-align: middle;
	color: #ffffff;
	font-weight: bold;
	/*     text-align: center; */
	float: left;
}

.replyImg {
	width: 30px;
	height: 30px;
	border-radius: 50px;
	float: left;
}

.photoBox {
	width: 50%;
	max-height: 100%;
}

.leftTbl {
	position: relative;
	padding-top: 0px;
	margin-top: 0px;
	overflow: hidden;
   	float:left;
   	position: relative;
	width: 500px;
	height: 100%;
   
}

.rightTbl {
	position: relative;
	width: 350px;
	max-height: 1px;
	float: right;
}
.innerRightBox{
	white-space: inherit;
}
.nickLoca{
	margin-left: 20%; 
}
.postPhoto {
	position:relative;
	width: 500px;
	height: 100%;
	object-fit:contain;
}

.post {
	color: black;
	white-space: inherit;
}

.tableProfile {
	/* margin-left: 5%; */
    position: relative;
    height: 14%;
    margin-top: 8%;
}

.content {
	max-height: 100%;
	/* margin-left: 5%; */
}
.contHash{
	margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
}
.modalMenu {
	margin-left: 89%;
    margin-bottom: -20px;
    margin-top: 7px;
}

.replyTbl {
	width: 100px;
}

.followBtn {
	float: right;
	margin-right: 5%;
}

.followBtn {
	color: #fff;
	background-color: #F25C05;
	border-color: #F25C05;
	padding: 3px;
	size: 10pt;
	font-family: "Noto Sans KR", sans-serif;
}

.comment {
	width: 270px;
    border: none;
    float: left;
    margin-top: 6px;
    word-wrap:normal;
    word-break:break-all;
    resize: none;
    height: 45px;
    font-family: "Noto Sans KR", sans-serif;
}
.btn-reply{
	float: right;
	color: #F25C05;
    border: 0px solid #F25C05;
    margin-right: 4%;
    font-family: "Noto Sans KR", sans-serif;
}

/* .cmtBox{
	border-top: 2px #F2F2F2 solid;
} */
.cmtCls {
	margin-left: 5px;
	padding-right: 20px;
}

.cmtCls::-webkit-scrollbar {
	width: 0px;
}

.cmtCls::-webkit-scrollbar-thumb {
	background-color: #401E01;
	border-radius: 10px;
}

.cmtCls::-webkit-scrollbar-track {
	background-color: #F2F2F2;
	border-radius: 10px;
	box-shadow: inset 0px 0px 0px white;
}

.fa-heart {
	border-color: black;
	color: red;
	float: left;
}

.fa-bookmark {
	border-color: black;
	color: black;
	float: right;
	margin-right: 15px;
}
.fa-bookmark,
.fa-heart{
	margin-top: 5px;
}
.fa-arrow-alt-circle-left {
	color: black;
	size: auto;
}

.close-modal {
	visibility: hidden;
}

textarea:focus {
	outline: none;
}

a:hover {
	text-decoration: none;
}

.cmtTbl{
	margin-top: 5px;
}
.reply{
	margin-top: 5px;
}
.replyMenu,
.replyCont{
	float: right;
}
.replyNick{
	float: left;
    padding-right: 21px;
    padding-left: 5px;
}
.replyDate{
   padding-left: 39px;
}
.no-close .ui-dialog-titlebar-close {
	display: none
}
.replyInfo{
	margin-top: 3px;
	margin-left: 110px;
}

input:focus {
	outline: none;
}
hr{
	margin-bottom: 1px;
	margin-top: 1px;
}