@charset "UTF-8";

.frm {
	position: relative;
	width: 1108px;
    height: 580px;
	margin-top: auto; 
	box-shadow: 2px 2px 2px 2px #E6E6E6;
	border-radius: 50px;
	
}

.all {
	position: relative;
	padding-top: 100px;
	margin-top: 15px;
	background-color: #ffffff;
}

.proflBox {
	width: 50px;
	height: 50px;
	background-image: url("배경이미지경로");
	border-radius: 150px; /* 레이어 반크기만큼 반경을 잡기*/
	display: table-cell;
	vertical-align: middle;
	color: #ffffff;
	font-weight: bold;
	/*     text-align: center; */
	float: left;
}

.profImg {
	width: 50px;
	height: 50px;
	border-radius: 50px;
	float: left;
}

/* 댓글 작성자 프로필 사진 */
.replyImgBox {
	width: 30px;
	height: 30px;
	background-image: url("배경이미지경로");
	border-radius: 150px; /* 레이어 반크기만큼 반경을 잡기*/
	display: table-cell;
	vertical-align: middle;
	color: #ffffff;
	font-weight: bold;
	/*     text-align: center; */
	float: left;
}
.replyCont{
	resize: none;
    overflow: hidden;
    border: none;
    width: 227px;
}
.replyImg {
	width: 30px;
	height: 30px;
	border-radius: 50px;
	float: left;
}

/* 좋아요 리스트 프로필 사진 */
td .replyImgBox {
	width: 40px;
	height: 40px;
	background-image: url("배경이미지경로");
	border-radius: 150px; /* 레이어 반크기만큼 반경을 잡기*/
	display: table-cell;
	vertical-align: middle;
	color: #ffffff;
	font-weight: bold;
	/*     text-align: center; */
	float: left;
}

td .replyImg {
	width: 40px;
	height: 40px;
	border-radius: 50px;
	float: left;
}

.photoBox {
	max-height: 100%;
}

.leftTbl {
	position: relative;
	padding-top: 0px;
	margin-top: 0px;
	overflow: hidden;
   	float:left;
   	position: relative;
	width: 715px;
	height: 100%;
   
}
.likeList{
	height: 29%;
	width: 400px;
}
.like-table{
	width: 290px;
}
.modalLike{
	margin-top: 5px;
}
.rightTbl {
	position: relative;
	width: 35%;
	max-height: 100%;
	float: right;
}
.nothing{
	margin-left: 250%;
	width: 100%;
	color: #2B2D36;
	margin-left: 0%;
}
.innerRightBox{
	white-space: inherit;
	max-height: 100%;
    height: 100%;
}
.nickLoca{
	margin-left: 20%; 
}
.postPhoto {	
	position: relative;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.post {
	color: #2B2D36;
	white-space: inherit;
}

.tableProfile {
	/* margin-left: 5%; */
    position: relative;
    height: 11%;
    margin-top: 8%;
}

.content {
	max-height: 100%;
}
.contHash{
	margin-top: 10px;
    margin-right: 52px;
    margin-left: 10px;
}
.modalMenu {
	margin-left: 89%;
    margin-bottom: -20px;
    margin-top: 7px;
}
.likeModal{
	margin-left: 24px;
}
.modal{	
    height: 25%;
	text-align: center;
}
.replyTbl {
	width: 100px;
}

.followBtn,
.unfollowBtn {
	float: right;
	margin-right: 5%;
	border-color: #F25C05;
	padding: 3px;
	size: 10pt;
	font-family: "Noto Sans KR", sans-serif;
}

.followBtn {
	background-color: #F25C05;
	color: #fff;
}
.unfollowBtn{
	background-color: #FFFFFF;
	color: #F25C05;
}
.camera{
	height: 60px;
}
.comment {
    width: 300px;
    /* border: 2px #F28705 solid; */
    /* float: left; */
    margin-top: 1px;
    word-wrap: normal;
    word-break: break-all;
    resize: none;
    height: 30px;
    font-family: "Noto Sans KR", sans-serif;
    border-radius: 50px;
    /* border: 1px black solid; */
    overflow: hidden;
    margin-left: 6px;
}
.btn-reply{
	float: right;
	color: #F25C05;
    border: 0px solid #F25C05;
    margin-right: 4%;
    font-family: "Noto Sans KR", sans-serif;
    padding-top: 5px;
}

.cmtBox{
	border: 2px #F28705 solid;
    border-radius: 50px;
    width: 80%;
    height: 6%;
    float: left;
    margin-top: 4px;
}

.cmtCls {
	margin-left: 5px;
	padding-right: 20px;
    overflow: auto; 
    height: 50%; 
    width: 100%;
}

.likeList::-webkit-scrollbar,
.cmtCls::-webkit-scrollbar {
	width: 0px;
}
.likeList::-webkit-scrollbar-thumb,
.cmtCls::-webkit-scrollbar-thumb {
	background-color: #401E01;
	border-radius: 10px;
}

.likeList::-webkit-scrollbar-track,
.cmtCls::-webkit-scrollbar-track {
	background-color: #F2F2F2;
	border-radius: 10px;
	box-shadow: inset 0px 0px 0px white;
}

.fa-heart {
	border-color: black;
	float: left;
	margin-left: 5px;
	margin-right: 8px;
}

.fa-bookmark {
	border-color: black;
	color: black;
	float: right;
	margin-right: 30px;
}
.fa-bookmark,
.fa-heart{
	font-size: 21px;
	margin-top: 5px;
}
.heartBook{
	margin-top: 5px;
}
.close-modal {
	visibility: hidden;
}

textarea:focus {
	outline: none;
}

a:hover {
	text-decoration: none;
}

.cmtTbl{
	margin-top: 25px;
}
.reply{
	margin-top: 5px;
}
.replyMenu,
.replyCont{
	float: right;
}
.replyNick{
    float: left;
    padding-right: 5px;
    padding-left: 4px;
    max-width: 324px;
}
.replyDate{
   padding-left: 39px;
}
.no-close .ui-dialog-titlebar-close {
	display: none
}
.replyInfo{
	margin-top: 3px;
	margin-left: 110px;
}
.detail-bottom-message{
	margin-bottom : 20px	
}
input:focus {
	outline: none;
}
hr{
	margin-bottom: 1px;
	margin-top: 1px;
}
.main-container {
  position: relative;
}

.main-container .grid {
  display: grid;
  max-width: 1600px;
  width: 100%;
  min-width: 770px;
  margin: 0px auto;
  min-height: 400px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: 20px;
  grid-gap: 7px;
}

.main-container .grid .item {
  width: 100%;
  overflow: hidden;
  position: relative;
  width: 260px; 
  height: 260px; 
  overflow: hidden;
}

.main-container .grid .item>img {
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  width: auto; 
  height: 260px;
  object-fit: contain;
}

.main-container .grid .item>img:hover {
  opacity: 0.8;
}
