@charset "UTF-8";

.detailMap-root{
	width : 100%;
	height: 100vh;
}

.detailMap-container{
	position: relative;
    margin-top : 50px;
}

.detail-map{
	position: relative;
	width : 100%;
	height:100vh;
}