@charset "UTF-8";

.modal-login {
  color: #636363;
  width: 350px;
}

.modal-login .modal-content{
	background-color: #fefefe;
    margin: auto;
    padding: 20px;
    width: 400px;
    height: 400px;
    border-radius: 5px;
  	border: none;
  	top:200px;
}
.modal-login .modal-header {
  display: flex;
  border-bottom: none;
  position: relative;
  justify-content: center;
  padding: 20px 24px 10px;
}

.modal-login h4 {
  text-align: center;
  font-size: 26px;
  font-weight: 600;
  width: 50%;
  color: white;
  cursor: pointer;
}

.modal-header h4.select {
  background-color: #F27405;
}

.modal-header h4.select-no {
  background-color: gray;
}

.modal-login .form-group {
  position: relative;
}

.form-group i {
  position: absolute;
  left: 13px;
  top: 11px;
  font-size: 18px;
}

.form-group .control-password {
  left: 88%;
}

.modal-login .form-control {
  padding-left: 40px;
}

.modal-login .form-control {
  padding-left: 40px;
}

.modal-login .form-control.pwd {
  padding-left: 40px;
  padding-right: 40px;
 
}

.modal-login .form-control,
.modal-login .btn {
  min-height: 40px;
  border-radius: 3px;
 } 

.modal-login .hint-text {
  text-align: center;
  padding-top: 10px;
}

.modal-login .close {
  position: absolute;
  top: 5px;
  right: 5px;
}

.modal-login .btn,
.modal-login .btn:active {
  border: none;
  color: white;
  line-height: normal;
}
.modal-body .form-group.btn-group{
	width:100%;
}

.modal-login .modal-footer a {
  color: #999;
}
.modal-body .social-login{
	width:100%;
}
button.kakao-login{
    width: calc(50% - 5px);
    height: 50px;
    color: rgb(34, 34, 34);
    font-size: 20px;
    font-weight: 700;
    border: 0px;
    background-color: rgb(247, 229, 6);
    margin-right:5px;
}
button.naver-login{
	width: calc(50% - 5px);
	height: 50px;
	color:white;
    font-size: 20px;
    font-weight: 700;
	border: 0px;
	background-color:rgb(4,207,92);
}
.trigger-btn {
  display: inline-block;
  margin: 100px auto;