.modal-login {
  color: #636363;
  width: 350px;
}

.modal-login .modal-content {
  border-radius: 5px;
  border: none;
}

.modal-login .modal-header {
  display: flex;
  border-bottom: none;
  position: relative;
  justify-content: center;
  padding: 20px 24px 10px;
}

.modal-login h4 {
  text-align: center;
  font-size: 26px;
  font-weight: 600;
  width: 50%;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.modal-header h4.select {
  background-color: blue;
}

.modal-header h4.select-no {
  background-color: gray;
}

.modal-login .form-group {
  position: relative;
}

.form-group i {
  position: absolute;
  left: 13px;
  top: 11px;
  font-size: 18px;
}

.form-group .control-password {
  left: 88%;
}

.modal-login .form-control {
  padding-left: 40px;
}

.modal-login .form-control {
  padding-left: 40px;
}

.modal-login .form-control.pwd {
  padding-left: 40px;
  padding-right: 40px;
}

.modal-login .form-control:focus {
  border-color: #00ce81;
}

.modal-login .form-control,
.modal-login .btn {
  min-height: 40px;
  border-radius: 3px;
}

.modal-login .hint-text {
  text-align: center;
  padding-top: 10px;
}

.modal-login .close {
  position: absolute;
  top: 5px;
  right: 5px;
}

.modal-login .btn,
.modal-login .btn:active {
  border: none;
  color: white;
  line-height: normal;
}


.modal-login .modal-footer a {
  color: #999;
}

.trigger-btn {
  display: inline-block;
  margin: 100px auto;
}

.result-msg {
  color: red;
}

.social-login {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.social-login input {
  width: 100%px;
  height: 40px;
  border: none;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border-radius: 5px;
}

.kakao-login {
 /*  background-image: url("./img/login/kakao.png"); */
  margin-bottom: 5px;
}

.naver-login {
  /* background-image: url("./img/login/naver.png"); */
}

.form-group.btn-group {
  width: 100%;
}

.form-group.btn-group input {
  width: 50%;
  margin-right: 3px;
  border-radius: 5px;
}