@charset "UTF-8";
.footer-main{
	background-color: #fff;
    border-top: 1px solid #e9ecef;
    max-width: 100%;
}
.footer-top{
	width: 57%;
    position: relative;
    height: 100%;
    margin: 0 auto;
    padding-top: 10px;
}
.footer-content-left a{
	color: dimgray;
	margin-left: 30px;
}
.footer-content{
	padding-top: 5px;
/* 	letter-spacing: 10px; */
}	
.fab{
	color: lightgray;
}
.footer-content-right{
	letter-spacing: 10px;
	float: right;
}
.footer-content-left{
	    float: left;
    margin-left: -30px;
    width: inherit;
}
.footer-content-bottom{
	margin-top: 119px;
    position: relative;
    color: dimgray;
    margin-left: 38%;
}
.footer-content-inform{
	float: left;
    min-width: 100%;
    margin-top: 11px;
}